<app-navbar></app-navbar>

<main>

  <div class="titBtns">
      <p>Minhas entradas</p>

      <div class="btnsDiv">
        <button id="excelBtn" class="btns"> <img src="assets/imgs/botaoExcel.png" id="btn"> </button>
        <button id="filtroBtn" class="btns"> <img src="assets/imgs/botaoFiltro.png" id="btn"> </button>
        <button id="addBtn" class="btns" (click)="showPopup()"> <img src="assets/imgs/botaoAdd.png" id="btn"> </button>
        <app-popup-criar-entrada
          *ngIf="isPopupVisible"
          (close)="hidePopup()"
          [entradaParaEditar]="entradaParaEditar"
          (entradaCriada)="onEntradaCriada()"
        ></app-popup-criar-entrada>

      </div>
  </div>

  <div class="lista">

    <div class="linTit">
      <div class="txtDiv">
        <p class="txtLista">Entrada</p>
        <p class="txtLista">Tipo de Entrada</p>
        <p class="txtLista">Data</p>
        <p class="txtLista">Valor</p>
      </div>

      <div class="acoesDiv">
        <p class="titLista">Ações</p>
      </div>
    </div>

    <div class="linLista" *ngFor="let entrada of entradas">
      <div class="txtDiv">
        <p class="txtLista">{{ entrada.entrada }}</p>
        <p class="txtLista">{{ entrada.tipo }}</p>
        <p class="txtLista">{{ entrada.data | date: 'MM-yyyy' }}</p>
        <p class="txtLista">R$ {{ entrada.valor | number:'1.2-2' }}</p>
      </div>

      <div class="acoesDiv">
        <button id="editarBtn" class="btns" (click)="editarEntrada(entrada)">
          <img src="assets/imgs/botaoEditar.png">
        </button>
        <button id="excluirBtn" class="btns" (click)="excluirEntrada(entrada.id)">
          <img src="assets/imgs/botaoExcluir.png">
        </button>
      </div>
    </div>

  </div>

</main>
