<app-navbar></app-navbar>

<main>

  <div class="titBtns">
      <p>Minhas saídas</p>

      <div class="btnsDiv">
        <button id="excelBtn" class="btns" (click)="exportarExcel()">
          <img src="assets/imgs/botaoExcel.png" id="btn">
        </button>
        <button id="filtroBtn" class="btns"> <img src="assets/imgs/botaoFiltro.png" id="btn"> </button>
        <button id="addBtn" class="btns" (click)="showPopup()"> <img src="assets/imgs/botaoAdd.png" id="btn"> </button>
        <app-popup-criar-saida
        *ngIf="isPopupVisible"
          (close)="hidePopup()"
          [saidaParaEditar]="saidaParaEditar"
          (entradaCriada)="onSaidaCriada()"
          ></app-popup-criar-saida>
      </div>
  </div>

  <div class="lista">

    <div class="linTit">
      <div class="txtDiv">
        <p class="txtLista">Saída</p>
        <p class="txtLista">Tipo de Saída</p>
        <p class="txtLista">Data</p>
        <p class="txtLista">Valor</p>
      </div>

      <div class="acoesDiv">
        <p class="titLista">Ações</p>
      </div>
    </div>

   <div class="linLista" *ngFor="let saida of saidas">
      <div class="txtDiv">
        <p class="txtLista">{{ saida.saida }}</p>
        <p class="txtLista">{{ saida.tipo }}</p>
        <p class="txtLista">{{ saida.data | date: 'MM-yyyy' }}</p>
        <p class="txtLista">R$ {{ saida.valor | number:'1.2-2' }}</p>
      </div>

      <div class="acoesDiv">
        <button id="editarBtn" class="btns" (click)="editarSaida(saida)">
          <img src="assets/imgs/botaoEditar.png">
        </button>
        <button id="excluirBtn" class="btns" (click)="excluirSaida(saida.id)">
          <img src="assets/imgs/botaoExcluir.png">
        </button>
      </div>
    </div>

  </div>

</main>
