<main>
    <div class="esq">

      <img src="assets/imgs/userLogin.svg" id="userIcon">

      <form>

        <label for="email" class="formLabel">E-mail</label>
        <input id="email" class="formInput" type="email" placeholder="E-mail">

        <label for="senha" class="formLabel">Senha</label>
        <input id="senha" class="formInput" type="password" placeholder="Senha">

        <a href="/esqueci-minha-senha" class="textoSecundario" id="esqueci">Esqueci minha senha</a>

        <button class="submitBtn" onclick="window.location.href('index.component.html')">Entrar</button>
        <a href="/cadastro" class="textoSecundario" id="registrar">Registrar-se</a>
      </form>
    </div>

    <div class="dir">
      <img src="assets/imgs/logo.svg" alt="Logo Monet" class="logo" />
    </div>
  </main>

