<app-navbar></app-navbar>

<main>

  <div class="titBtns">
      <p>Meus investimentos</p>

      <div class="btnsDiv">
        <button id="excelBtn" class="btns" (click)="exportarExcel()">
          <img src="assets/imgs/botaoExcel.png" id="btn">
        </button>
        <button id="filtroBtn" class="btns"> <img src="assets/imgs/botaoFiltro.png" id="btn"> </button>
        <button id="addBtn" class="btns" (click)="showPopup()"> <img src="assets/imgs/botaoAdd.png" id="btn"> </button>
        <app-popup-criar-investimento
          *ngIf="isPopupVisible"
          (close)="hidePopup()"
          [investimentoParaEditar]="investimentoParaEditar"
          (investimentoCriado)="onInvestimentoCriado()"
        ></app-popup-criar-investimento>

      </div>
  </div>

  <div class="lista">

    <div class="linTit">
      <div class="txtDiv">
        <p class="txtLista">Investimento</p>
        <p class="txtLista">Tipo de Investimento</p>
        <p class="txtLista">Data</p>
        <p class="txtLista">Valor</p>
        <p class="txtLista">Risco</p>
      </div>

      <div class="acoesDiv">
        <p class="titLista">Ações</p>
      </div>
    </div>

    <div class="linLista" *ngFor="let investimento of investimentos">
      <div class="txtDiv">
        <p class="txtLista">{{ investimento.investimento }}</p>
        <p class="txtLista">{{ investimento.tipo }}</p>
        <p class="txtLista">{{ investimento.data | date: 'MM-yyyy' }}</p>
        <p class="txtLista">R$ {{ investimento.valor | number:'1.2-2' }}</p>
        <p class="txtLista">{{ investimento.risco }}</p>
      </div>

      <div class="acoesDiv">
        <button id="editarBtn" class="btns" (click)="editarInvestimento(investimento)">
          <img src="assets/imgs/botaoEditar.png">
        </button>
        <button id="excluirBtn" class="btns" (click)="excluirInvestimento(investimento.id)">
          <img src="assets/imgs/botaoExcluir.png">
        </button>
      </div>
    </div>

  </div>

</main>
