body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: #FFFFFF;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  }

  .esq {
    width: 50%;
    height: 100%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .dir {
    width: 50%;
    height: 100%;
    background-color: #406643;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .userIcon img {
    width: 100px;
    margin-bottom: 20px;
  }

  form {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
  }

  .formLabel {
    font-family: 'Roboto';
    margin-bottom: 4px;
    font-size: 18px;
  }

  .formInput {
    font-size: 16px;
    font-family: 'Roboto';
    padding: 15px;
    margin-bottom: 1rem;
    border: none;
    border-radius: 10px;
    background-color: rgba(70,131,70,0.16)
  }

.submitBtn {
  background-color: #486F48;
  color: #FFFFFF;
  border: none;
  font-size: 18px;
  border-radius: 15px;
  width: 70%;
  padding: 15px;
  margin: 15px;
  align-self: center;
}

.textoSecundario {
  font-family: 'Roboto';
  color: #6B6B6B;
  font-size: 16px;
}

#esqueci {
  align-self:flex-end;
}

#registrar {
  align-self: center;
}

.logo {
  width: 300px;
  max-width: 80%;
}

