<app-navbar></app-navbar>

<main>

  <div class="divMain">
      <div class="esq">
          <p id="tit">Cofrinho - Comparação de Acúmulos Mensal</p>
          <img src="assets/imgs/graficoBarras.png" id="graficoBarras">
      </div>

      <div class="dir">
          <p id="tit">Valores Totais do Mês</p>
          <div class="dashValores">
              <div class="lin">
                  <div class="dash" id="entradas">
                      <img src="assets/imgs/entradaIcon.png" id="dashIcon">
                      <p class="valores">R$ XXXX.XX</p>
                  </div>

                  <div class="dash" id="saidas">
                      <img src="assets/imgs/saidaIcon.png" id="dashIcon">
                      <div class="dashTxt">
                          <p class="valores">R$ XXXX.XX</p>
                          <p id="saldoDisponivel">Saldo disponível: R$ XXX,XX</p>
                      </div>
                  </div>
              </div>

              <div class="lin">
                  <div class="dash" id="investimentos">
                      <img src="assets/imgs/investimentoIcon.png" id="dashIcon">
                      <p class="valores">R$ XXXX.XX</p>
                  </div>

                  <div class="dash" id="cofrinho">
                      <img src="assets/imgs/cofrinhoIcon.png" id="dashIcon">
                      <p class="valores">R$ XXXX.XX</p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="divMain" id="baixo">
      <p id="tit">Acompanhamento de Gastos</p>
      <div class="acompanhamentosDiv">
          <div class="acompanhamentoGastos">
              <div class="acompanhamentoQuadrado">
                  <p class="acompanhamentoValores">R$ XXX.XX</p>
              </div>
              <p class="acompanhamentoArea">Lazer</p>
          </div>

          <div class="acompanhamentoGastos">
            <div class="acompanhamentoQuadrado">
                <p class="acompanhamentoValores">R$ XXX.XX</p>
            </div>
            <p class="acompanhamentoArea">Lazer</p>
        </div>

        <div class="acompanhamentoGastos">
          <div class="acompanhamentoQuadrado">
              <p class="acompanhamentoValores">R$ XXX.XX</p>
          </div>
          <p class="acompanhamentoArea">Lazer</p>
        </div>

        <div class="acompanhamentoGastos">
          <div class="acompanhamentoQuadrado">
              <p class="acompanhamentoValores">R$ XXX.XX</p>
          </div>
          <p class="acompanhamentoArea">Lazer</p>
        </div>

      </div>


  </div>
</main>
