<app-navbar></app-navbar>

<main>

  <div class="divMain">
      <div class="esq">
          <p id="tit">Cofrinho - Comparação de Acúmulos Mensal</p>
          <canvas baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          chartType="bar">
          </canvas>
      </div>

      <div class="dir">
          <p id="tit">Valores Totais do Mês</p>
          <div class="dashValores">
              <div class="lin">
                  <div class="dash" id="entradas">
                      <img src="assets/imgs/entradaIcon.png" id="dashIcon">
                      <p class="valores">R$ {{ totalEntradas | number:'1.2-2' }}</p>
                  </div>

                  <div class="dash" id="saidas">
                      <img src="assets/imgs/saidaIcon.png" id="dashIcon">
                      <div class="dashTxt">
                          <p class="valores">R$ {{ totalSaidas | number:'1.2-2' }}</p>
                          <p id="saldoDisponivel">Saldo disponível: R$ {{ saldoDisponivel | number:'1.2-2' }}</p>
                      </div>
                  </div>
              </div>

              <div class="lin">
                  <div class="dash" id="investimentos">
                      <img src="assets/imgs/investimentoIcon.png" id="dashIcon">
                      <p class="valores">R$ {{ totalInvestimentos | number:'1.2-2' }}</p>
                  </div>

                  <div class="dash" id="cofrinho">
                      <img src="assets/imgs/cofrinhoIcon.png" id="dashIcon">
                      <p class="valores">R$ {{ totalCofrinho | number:'1.2-2' }}</p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="divMain" id="baixo">
      <p id="tit">Acompanhamento de Gastos</p>

      <div class="acompanhamentosDiv">
        <div *ngFor="let acompanhamento of acompanhamentos" class="acompanhamentoGastos">
          <div class="acompanhamentoQuadrado">
            <p class="acompanhamentoValores">{{ acompanhamento.valor }}</p>
          </div>
          <p class="acompanhamentoArea">{{ acompanhamento.area }}</p>
        </div>
      </div>
  </div>

</main>
