<div class="container">
    <div class="left">
      <div class="user-icon">
        <img src="assets/user-icon" alt="User Icon" />
      </div>
      <form>
        <label for="email">E-mail</label>
        <input id="email" type="email" placeholder="E-mail" />
  
        <label for="senha">Senha</label>
        <input id="senha" type="password" placeholder="Senha" />
  
        <a href="#" class="forgot-password">Esqueci minha senha</a>
  
        <button type="submit" class="login-btn">Entrar</button>
  
        <a routerLink="/login" class="register-link">Registrar-se</a>
      </form>
    </div>
  
    <div class="right">
      <img src="assets/Logo.svg" alt="Logo Monet" class="logo" />
    </div>
  </div>
  
