<main>
    <div class="esq">
      <form>
        <label for="email" class="formLabel">E-mail</label>
        <input id="email" class="formInput" formControlName="email" type="email" placeholder="E-mail" />

        <label for="senha" class="formLabel">Nova senha</label>
        <input id="senha" class="formInput" formControlName="senha" type="password" placeholder="Senha" />

        <label for="confirmarSenha" class="formLabel">Confirmar nova senha</label>
        <input id="confirmarSenha" class="formInput" formControlName="confirmarSenha" type="password" placeholder="Confirmar Senha" />

        <button type="submit" class="submitBtn">Alterar senha</button>
        <a href="/login" class="textoSecundario" id="registrar">Voltar</a>
      </form>
    </div>

    <div class="dir">
      <img src="assets/imgs/logo.svg" alt="Logo Monet" class="logo" />
    </div>
  </main>

