<div class="popup-overlay">

  <div class="popup-content">

    <div class="divFechar">
      <button id="botaoFechar" (click)="closePopup()"><img src="assets/imgs/fecharIcon.svg"></button>
    </div>

    <form class="campos">
      <div class="lin">
        <p id="tit">Entrada</p>
        <input type="text" id="nome" class="formInput">
      </div>

      <div class="lin">
        <p id="tit">Tipo de Entrada</p>
        <select id="tipo" class="formSelect">
          <option>Recorrente</option>
          <option>Pontual</option>
        </select>
      </div>

      <div class="lin">
        <p id="tit">Data</p>
        <input type="date" id="data" class="formInput">
      </div>

      <div class="lin">
        <p id="tit">Valor</p>
        <input type="number" id="valor" class="formInput">
      </div>

      <div class="submitDiv">
        <button type="submit" class="submitBtn">Adicionar</button>
      </div>
    </form>

  </div>

</div>
