<div class="container">
    <div class="left">
      <form>
        <label for="email">E-mail</label>
        <input id="email" formControlName="email" type="email" placeholder="E-mail" />
  
        <label for="senha">Senha</label>
        <input id="senha" formControlName="senha" type="password" placeholder="Senha" />
  
        <label for="confirmarSenha">Confirmar Senha</label>
        <input id="confirmarSenha" formControlName="confirmarSenha" type="password" placeholder="Confirmar Senha" />
  
        <button type="submit" class="criarConta-btn">Criar Conta</button>
      </form>
    </div>
  
    <div class="right">
      <img src="assets/Logo.svg" alt="Logo Monet" class="logo" />
    </div>
  </div>
  