.container {
    display: flex;
    height: 100vh;
    font-family: sans-serif;
  }
  
  .left {
    flex: 1;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
  }
  
  .right {
    flex: 1;
    background-color: #406643;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .user-icon img {
    width: 100px;
    margin-bottom: 2rem;
  }
  
  form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 4px;
    font-size: 14px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 1rem;
    border: none;
    border-radius: 6px;
    background-color: #e7f0e5;
  }
  
  .logo {
    width: 300px;
    max-width: 80%;
  }
  