<nav class="navbar">
  <img src="assets/imgs/logo.svg" alt="Logo">

  <div class="navs">
    <a href="/inicio">Início</a>
    <a href="/saidas">Minhas Saídas</a>
    <a href="/entradas">Minhas Entradas</a>
    <a href="/investimentos">Meus Investimentos</a>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="usuarioBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="assets/imgs/userIcon.png" alt="Ícone do Usuário">
      </button>
      <div class="dropdown-content" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/perfil">
          <p class="txt">Ver perfil</p>
          <img src="assets/imgs/setaDireita.svg" class="icon" id="seta">
        </a>
        <a class="dropdown-item" (click)="logout()">
          <p class="txt" id="sair">Sair</p>
          <img src="assets/imgs/logoutIcon.svg" class="icon" id="seta">
        </a>
      </div>
    </div>
  </div>
</nav>
