<div class="popup-overlay">
  <div class="popup-content">

    <div class="divFechar">
      <button id="botaoFechar" (click)="closePopup()"><img src="assets/imgs/fecharIcon.svg"></button>
    </div>

    <form class="campos" [formGroup]="form" (ngSubmit)="salvarSaida()">
      <div class="lin">
        <p id="tit">Saída</p>
        <input type="text" id="nome" class="formInput" formControlName="saida">
      </div>

      <div class="lin">
        <p id="tit">Tipo de Saída</p>
        <select id="tipo" class="formSelect" formControlName="tipo">
          <option>Contas</option>
          <option>Alimentação</option>
          <option>Transporte</option>
          <option>Saúde</option>
          <option>Lazer</option>
          <option>Outros</option>
        </select>
      </div>

      <div class="lin">
        <p id="tit">Data</p>
        <input type="date" id="data" class="formInput" formControlName="data">
      </div>

      <div class="lin">
        <p id="tit">Valor</p>
        <input type="number" id="valor" class="formInput" formControlName="valor">
      </div>

      <div class="submitDiv">
        <button type="submit" class="submitBtn" [disabled]="form.invalid">
          {{ saidaParaEditar ? 'Salvar Alterações' : 'Criar Saída' }}
        </button>
      </div>
    </form>

  </div>
</div>
