<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/index.css">
    <title>Document</title>
</head>
<body>
    
    <nav class="navbar">

        <img src="../imgs/Logo.svg">

        <div class="navs">

            <a href="index.html">Início</a>
            <a href="saidas.html">Minhas Saídas</a>
            <a href="entradas.html">Minhas Entradas</a>
            <a href="investimentos.html">Meus Investimentos</a>

            <img src="../imgs/userIcon.png" id="usu">
            
        </div>

    </nav>

    <main>

        <div class="topo">

            <div class="esq">

                <p id="tit">Cofrinho - Comparação de Acúmulos Mensal</p>
    
                <img src="../imgs/graficoBarras.png" id="graficoBarras">
                
            </div>
    
            <div class="dir">
    
                <p id="tit">Valores Totais do Mês</p>

                <div class="dashValores">

                    <div class="lin">

                        <div class="dash" id="entradas">

                            <img src="../imgs/entradaIcon.png" id="dashIcon">

                            <p class="valores">R$ XXXX.XX</p>

                        </div>

                        <div class="dash" id="saidas">

                            <img src="../imgs/saidaIcon.png" id="dashIcon">

                            <div class="dashTxt">
                                <p class="valores">R$ XXXX.XX</p>
                                <p id="saldoDisponivel">Saldo disponível: R$ XXX,XX</p>
                            </div>

                        </div>

                    </div>

                    <div class="lin">

                        <div class="dash" id="investimentos">

                            <img src="../imgs/investimentoIcon.png" id="dashIcon">

                            <p class="valores">R$ XXXX.XX</p>

                        </div>

                        <div class="dash" id="cofrinho">

                            <img src="../imgs/cofrinhoIcon.png" id="dashIcon">

                            <p class="valores">R$ XXXX.XX</p>

                        </div>

                    </div>

                    

                </div>
    
            </div>

        </div>
       

    </main>


</body>
</html>